<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <p>Ooops :( Couldn't save the user</p>
    <p>You have <%= pluralize(@user.errors.count, "error") %>. Please, correct following: </p>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div>
    <%= f.label :username%>
    <%= f.text_field :username, autofocus: true %>
  </div>
  <div>
    <%= f.label :password%>
    <%= f.password_field :password, autofocus: true, size: 40 %>
  </div>
  <div>
    <%= f.label :password_confirmation%>
    <%= f.password_field :password_confirmation, autofocus: true, size: 40 %>
  </div>
  <div>
    <%= f.submit%>
  </div>
<% end %>