<!DOCTYPE html>
<html>
  <head>
    <title>ClientsDatabase</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= link_to "Homepage", users_path %>
    <%= yield %>
      <%= link_to 'Sign Up', new_user_path %>
    <%= link_to 'Sign In', new_session_path %>
  </body>
</html>
